In [1]:
import pandas as pd 
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("house_price.xlsx")
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [3]:
new_df = df.drop('price', axis = 'columns')

In [4]:
new_df

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [5]:
model = linear_model.LinearRegression()
model.fit(new_df, df.price)

LinearRegression()

In [6]:
model.coef_

array([135.78767123])

In [7]:
model.intercept_

180616.43835616432

In [8]:
import pickle

In [9]:
with open('model_pickle', 'wb') as file: pickle.dump(model,file)

In [10]:
with open('model_pickle', 'rb') as f: np = pickle.load(f)

In [11]:
np.coef_

array([135.78767123])

In [12]:
np.intercept_

180616.43835616432

In [13]:
np.predict([[5000]])

c:\users\mecha\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([859554.79452055])